/* Este css será carregado na página através do css-loader e style-loader do webpack. Para que funcione, precisamos fazer o require do arquivo css no arquivo index.jsx*/
#main {
  border: 0;
  padding: 0;
  margin: 0;
}

